<?xml version="1.0" encoding="UTF-8"?>
<Context path="/">
	<Logger className="org.apache.catalina.logger.FileLogger" prefix="watchdogd-probe." suffix=".log" timestamp="true"/>
	<!--  <Loader loaderClass="org.springframework.instrument.classloading.tomcat.TomcatInstrumentableClassLoader"/> -->
</Context>
